.cart-container {
    max-width: 1000px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }
  
  .cart-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* .empty-cart {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 0px;
  } */
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
  
  .cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .cart-info p {
    color: #333;
    margin-bottom: 10px;
  }
  
  .quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .quantity button {
    width: 30px;
    height: 30px;
    border: 1px solid #222;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
  }
  
  .remove-btn {
    color: #c0392b;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cart-summary {
    text-align: right;
    margin-top: 30px;
  }
  
  .checkout-btn {
    padding: 12px 30px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .checkout-btn:hover {
    background: #444;
    box-shadow: 0 6px 20px rgba(60, 58, 59, 0.5);
  transform: scale(1.05);

  }
   

  .empty-cart {
    text-align: center;
    padding: 10px 20px;
    color: #555;
  }
  
  .empty-cart-img {
    width: 220px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .empty-cart h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .empty-cart p {
    font-size: 18px;
    
    margin-bottom: 10px;
  }

  .shop-now-btn {
    margin-top: 20px;
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
   